@import "mixins";

.list-item {
  @apply overflow-hidden transition-all;
  flex: 1 1 100%;

  &.clickable {
    cursor: pointer;
    position: relative;
  }

  &.clickable:after {
    content: "";
    @apply transition-all rounded-md;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(to right, rgba(150, 201, 61, 0.1), rgba(0, 179, 158, 0.1));
    opacity: 0;
  }

  &.clickable:hover:after {
    opacity: 1;
  }

  h2 {
    @apply text-lg mt-2;
  }

  .article-container {
    @apply mx-3 mb-3;
  }
}

.list-item-header-container {
  @apply flex;
}

.list-item-image {
  @apply overflow-hidden rounded-md shadow mr-3;
  float: left;
  width: 13.33rem;
  height: 10rem;
}

.enable-trim {
  //display: -webkit-box;
  //-webkit-line-clamp: 4;
  //-webkit-box-orient: vertical;
  height: 4.8rem;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 40%, transparent);
  position: relative;
}
