@import "functions";
@import "mixins";

.author-container {
    margin: 1rem 0 2rem 0;
    display: grid;
    grid-row-gap: 1.5rem;
    justify-content:center;
}

.author {
    background: rgba(color(primary),0.04);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
    padding: 1rem 1.5rem;
    align-items: center;
    display: grid;
    grid-template-areas: "image title" "image positions";
    grid-template-columns: auto 1fr;
    grid-column-gap: 2rem;
}

.image-container {
    grid-area: image;
    justify-self:end;
}

.title-container {
    grid-area: title;
    font-size: 1.75rem;
}

.positions-container {
    grid-area: positions;
    line-height:2;
}

.MDXRenderer-container {
    p {
        text-indent: 2.5em !important;
        line-height: 2.5 !important;
    }

    li {
        line-height: 2 !important;
    }
}

@include size(desktop) {
    .MDXRenderer-container {
        max-width: 65vw;
        margin: 0 auto;
    }
}
