@import "functions";
@import "mixins";

.article-container {
  margin-bottom: var(--marginBase);
  transition: opacity 0.75s ease-in-out;

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1.25em;
    font-family: "Noto Sans", "Sarabun", sans-serif;
  }

  h1 {
    margin-top: 0.5em;
    font-size: 0.5 * 3.052em;
  }

  h2 {
    font-size: 0.5 * 2.441em;
  }

  h3 {
    font-size: 0.5 * 1.953em;
  }

  h4 {
    font-size: 0.5 * 1.563em;
  }

  h5 {
    font-size: 0.5 * 1.25em;
  }

  .article-attachments-container {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 1rem -2rem -1rem -2rem;
    padding: 1rem 4rem 1rem 4rem;
  }

  .inner-article-container {
    border-radius: 3px;
    overflow: hidden;
    display: grid;
    height: 100%;
    grid-template-areas: "aside" "content";
    grid-template-rows: minmax(auto, 350px) 1fr;
    box-shadow: shadow(large);
    transition: box-shadow 0.25s ease-in-out;
    background: white;
  }

  @media (prefers-color-scheme: light) {
    .inner-article-container {
      background: white;
    }
  }
  @media (prefers-color-scheme: dark) {
    .inner-article-container {
      background: rgb(20, 20, 20);
      color: white;
      box-shadow: glow(large);
    }
  }

  aside {
    grid-area: aside;
    text-align: center;
    position: relative;

    * {
      color: black;
    }

    img {
      transition: opacity 500ms ease 0s,transform 0.5s ease-in-out!important;
      height: auto;
      display: block;
    }
  }

  article {
    grid-area: content;
    padding: 1em 1.5em;

    p {
      line-height: 2;
      /*text-indent: 2rem;*/
      text-align: left;
    }
  }

  article.no-aside {
    grid-area: aside / aside / content / content;
  }

  article.trans {
    background: transparent;
    box-shadow: none;
  }
}

.article-container article p:nth-last-of-type(1) {
  margin: 0;
}

.article-container.wide {
  margin: 0px -15px 0px -15px;

  .inner-article-container {
    padding: 0 15px 0 15px;
    border-radius: unset;
  }
}

.article-container.hide {
  opacity: 0;
  transform: translateY(10%);
}

.article-container.show {
  /*
  animation-name: entry-animation;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;*/
  opacity: 1;
  transform: translateY(0);
}

.article-container:hover {
  z-index: 1000;

  img{
    transform: scale(1.1, 1.1);
  }
}

.inner-article-container:hover {
  box-shadow: 0px 0px 80px 1px rgba(0, 0, 0, 0.15);
}

@include size(landscape-tablet) {
  .article-container {
    .article-attachments-container {
      margin: 1rem -4rem -2rem -4rem;
      padding: 1rem 4rem 1rem 4rem;
    }

    article {
      padding: 1rem 2.5rem 2rem 2.5rem;
    }

    .inner-article-container.sbs {
      grid-template-areas: "aside content";
      grid-template-columns: auto 60%;
      grid-template-rows: minmax(350px, auto);
    }
  }

  .article-container.wide {
    margin: 0px (-$XSpacing) 0px (-$XSpacing);

    .inner-article-container {
      padding: 0 $XSpacing 0 $XSpacing;
    }
  }
}