$theme: ( 'primary': rgb(40, 40, 40), 'secondary': rgb(244, 68, 46), 'base': rgb(229, 214, 189));

$breakpoints: ( 'phone': (min-width:480px), 'portait-tablet': (min-width:600px), 'landscape-tablet': (min-width:801px), 'desktop': (min-width:1025px), 'high-desktop': (min-width:1281px)) !default;

$XSpacing: 10vw;