@font-face {
    font-family: 'supermarket';
    src: local('supermarket'),
         url('supermarket.woff2') format('woff2'),
         url('supermarket.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RSU';
    src: local('RSU'),
         url('RSU.woff2') format('woff2'),
         url('RSU.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RSU';
    src: local('RSU Bold'), local('RSU-Bold'),
         url('RSU-Bold.woff2') format('woff2'),
         url('RSU-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RSU';
    src: local('RSU Light'), local('RSU-Light'),
         url('RSU-Light.woff2') format('woff2'),
         url('RSU-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'ThaiSans New';
    src: local('ThaiSans New Regular'), local('ThaiSansNew-Regular'), url('thaisansnew-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
