.title{
    @apply text-2xl md:text-4xl xl:text-5xl text-center mt-3 mb-6;
}

.main-image{
    @apply rounded-md shadow-md overflow-hidden mb-6;
    max-height: 40rem;
}

.aside{
    @apply border-green-400 border-b-2 mb-3 md:mb-0 md:border-b-0 md:border-r-2 md:mr-3 ;
    flex: 0 1 auto;
}

.main{
    flex: 1 1 auto;
}