@import "functions";
@import "mixins";

#youtube-section {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291e, #ed213a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#youtube {
  display: flex;
  align-items: center;
  padding: 2em 0;

  img {
    height: 60px;
  }

  a {
    display: inline-block;
    margin: 0 0.75em 0 0;
    color: white !important;
    > * {
      padding: 0;
      margin: 0;
      margin-top: -0.25em;
    }
  }
}

@include size(high-desktop) {
  .youtube-grid {
    grid-template: 1fr / auto 1fr;
    column-gap: 30px;
    justify-items: left;
    row-gap: 0;

    > .youtube-container {
      height: 315px;
      width: 560px;
    }
  }

}
