.container {
    h1 {
        margin-top: 0;
        font-size: 0.5 * 3.052em;
    }

    h2 {
        font-size: 0.5 * 2.441em;
    }

    h3 {
        font-size: 0.5 * 1.953em;
    }

    h4 {
        font-size: 0.5 * 1.563em;
    }

    h5 {
        font-size: 0.5 * 1.25em;
    }
}
