@import "functions";
@import "mixins";

/* Dimension */
a.normal,
a.emphasize {
  font-size: 1.5rem;
  padding: 0.75rem;
  cursor: pointer;
  transition: background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
    color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
    text-shadow 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
}

@include size(higher-desktop) {
  a.main {
    padding: 0 0.75rem !important;
  }

  a.emphasize {
    border: 1px solid color(secondary);
    font-weight: normal;
    margin: 0.25rem;
    padding: 0.5rem;
  }

  a.emphasize:hover,
  a.emphasize.link-active {
    text-shadow: none;
  }
}

/* Color */

a.normal {
  color: color(base);
}

a.normal:hover {
  color: color(secondary);
}
a.normal.link-active:hover {
  color: lighten(color(secondary), 5%);
}

a.normal.link-active {
  color: color(primary);
}

@media (prefers-color-scheme: light) {
  a.normal {
    color: color(base);
  }

  a.normal:hover {
    color: color(secondary);
  }
  a.normal.link-active:hover {
    color: lighten(color(secondary), 5%);
  }

  a.normal.link-active {
    color: color(primary);
  }
}

@media (prefers-color-scheme: dark) {
  a.normal {
    color: white;
  }

  a.normal:hover {
    color: lighten(color(secondary), $light-factor);
    text-shadow: 0px 0px 7px lighten(color(secondary), $light-factor);
  }
  a.normal.link-active:hover {
    color: lighten(color(secondary), $light-factor-more);
    text-shadow: 0px 0px 7px lighten(color(secondary), $light-factor-more);
  }

  a.normal.link-active {
    color: lighten(color(primary), $light-factor-more);
  }

}
