@import "functions";
@import "mixins";

:root {
    --color1: #111111;
    --color2: #8FC4DA;
}

.gradient {
    background: linear-gradient(rgba(color(primary),0.1) 60%, rgba(color(primary),0.7));
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(5px);
    z-index: -2;
}

.gradient.tall {
    height: 75vh;
}

.banner-container {
    min-height: 35vh;
    position: relative;
    z-index: 2;

    .title-container {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: -1;
    }

    .title {
        color: whitesmoke;
        /*left: var(--XSpacing);*/
        text-align: center;
        text-shadow: 0px 0px 6px rgba(0,0,0,0.8);
    }

    .by {
        color: whitesmoke;
        text-align: center;
        font-size: 1.2rem;
        background: rgba(30,30,30,0.3);
        border-radius: 5px;
        padding: 1em 1em;
    }
}

.banner-container.tall {
    height: 75vh;
}

.layout {
    z-index: 1;
    position: relative;
    padding: var(--marginBase) 15px;
}

.childrenContainer {
    min-height: 45.5vh;
}


@include size(landscape-tablet) {
    .layout {
        padding: var(--marginBase) var(--XSpacing);
    }
}
